sudo: false
language: node_js
branches:
  except:
  - gh-pages
node_js:
  - '5'
  - '5.1'
  - '4'
  - '4.2'
  - '4.1'
  - '4.0'
  - '0.12'
  - '0.11'
  - '0.10'
  - '0.8'
  - '0.6'
  - 'iojs'
before_script:
  - npm install grunt-cli -g
